# dextr - Secure Archiving & Encryption System

include README.md
include CHANGELOG.md
include GETTING_STARTED.md
include USAGE.md
include SECURITY.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include requirements.txt
include requirements-dev.txt
include LICENSE
recursive-include dextr *.py
recursive-include examples *.py *.md
recursive-include docs *.rst *.md Makefile
global-exclude *.pyc
global-exclude __pycache__
global-exclude .dev-docs/
